@font-face {
    font-family: 'Roboto-regular';
    src: url(/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto-regular';
}

.Header {
    background-color: #2a2d34;
    padding: 20px 0;
    text-align: center;
}

.Header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-links {
    margin-top: 10px;
}

.nav-links a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

.footer {
    background-color: #2a2d34;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    position: fixed;
}